In [3]:
tup = ('Fatima', 3.4, 78, 'Sharjah')
print(tup)

('Fatima', 3.4, 78, 'Sharjah')

In [4]:
tup2 = (4,8,9,['Ali',2.3])
print(tup2)

(4, 8, 9, ['Ali', 2.3])

In [5]:
tup2 = (4,8,9,['Ali',2.3])
print(tup2[0])
print(tup2[-1])
print(tup2[3])
print(tup2[-4])

4
['Ali', 2.3]
['Ali', 2.3]
4

In [6]:
tup2 = (4,8,9,['Ali',2.3])
print(tup2[0:2])
print(tup2[-3:-1])
print(tup2[3:4])
print(tup2[0:3:2])

(4, 8)
(8, 9)
(['Ali', 2.3],)
(4, 9)

In [7]:
tup = 4,8,9,["Ali",2.3]
tup[0] = 18
tup[2] = 29

TypeError: 'tuple' object does not support item assignment

In [8]:
tup = 4,8,9,7,2
tup2 = sorted(tup)
print("this is the orginal tuple: ",tup)
print("this is the sorted tuple",tup2)

this is the orginal tuple:  (4, 8, 9, 7, 2)
this is the sorted tuple [2, 4, 7, 8, 9]

In [10]:
tup = 4,8,9,7,2
tup2 = tuple(sorted(tup))
print("this is the orginal tuple: ",tup)
print("this is the sorted tuple",tup2)
print(len(tup2))

this is the orginal tuple:  (4, 8, 9, 7, 2)
this is the sorted tuple (2, 4, 7, 8, 9)
5

In [16]:
tup1 = 4,8,9
tup2 = "shrjah", "Dubai"
tup = tup1 + tup2
print("this is a tuple: ",tup)

this is a tuple:  (4, 8, 9, 'shrjah', 'Dubai')

In [12]:
tup1 = 4,8,9
print(tup1 *3)

(4, 8, 9, 4, 8, 9, 4, 8, 9)

In [13]:
tup1 = 4,8,9
print(8 in tup1)
print(3 in tup1)

True
False

In [15]:
tup1 = 4,8,9
print(max(tup1))
print(min(tup1))

9
4

In [17]:
student_marks = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}
display(student_marks["Alya"])
display(student_marks["Fatima"])
display(student_marks["Noora"])

80

95

90

In [19]:
diction1 = {}
diction2 = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}
display(diction1)
display(diction2)

{}

{'Alya': 80, 'Fatima': 95, 'Noora': 90}

In [24]:
student_marks = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}

print("List of items:", list(student_marks.items()))
print("List of keys:", list(student_marks.keys()))
print("List of values:", list(student_marks.values()))

List of items: [('Alya', 80), ('Fatima', 95), ('Noora', 90)]
List of keys: ['Alya', 'Fatima', 'Noora']
List of values: [80, 95, 90]

In [25]:
students = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}

print( "Alya" in students)
print( "Fatima" in students)
print( "Noora" in students)
print( "Sara" in students)

True
True
True
False

In [26]:
students = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}
std1 = students.get("Alya")
std2 = students.get("Fatima")
std3 = students.get("Noora")
print(std1, std2, std3)

80 95 90

In [31]:
students = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}
print(students, len(students))
students["Alya"] = 85
print(students, len(students))
students["Noura"] = 75
print(students, len(students))

{'Alya': 80, 'Fatima': 95, 'Noora': 90} 3
{'Alya': 85, 'Fatima': 95, 'Noora': 90} 3
{'Alya': 85, 'Fatima': 95, 'Noora': 90, 'Noura': 75} 4

In [34]:
students = {"Alya" : 80, "Fatima" : 95, "Noora" : 90}
print(students, len(students))
students.update({"Alya":67})
print(students, len(students))
students.update({"Sara":82})
print(students, len(students))

{'Alya': 80, 'Fatima': 95, 'Noora': 90} 3
{'Alya': 67, 'Fatima': 95, 'Noora': 90} 3
{'Alya': 67, 'Fatima': 95, 'Noora': 90, 'Sara': 82} 4

In [35]:
alist = [6,2,8]
blist = [3.2, 5.4, 2.0]
clist = ["Ali","Mohemmed","Sualeh"]
dlist = [2.5, 2, "UAE"]
elist = [2.5, 3, "Sharjah", [3,5,6]]
print(alist, type(alist))
print(blist, type(blist))
print(clist, type(clist))
print(dlist, type(dlist))
print(elist, type(elist))

[6, 2, 8] <class 'list'>
[3.2, 5.4, 2.0] <class 'list'>
['Ali', 'Mohemmed', 'Sualeh'] <class 'list'>
[2.5, 2, 'UAE'] <class 'list'>
[2.5, 3, 'Sharjah', [3, 5, 6]] <class 'list'>

In [36]:
mylist = [23, 7.5, "Ali", [3,5], 'z', 56, 3.14, [8,3,2.3], 12]
print(mylist[0])
print(mylist[2])
print(mylist[4])
print(mylist[6])
print(mylist[7])
print(mylist[8])
print(mylist[9])

23
Ali
z
3.14
[8, 3, 2.3]
12

IndexError: list index out of range

In [37]:
mylist = [23, 7.5, "Ali", [3,5], 'z', 56, 3.14, [8,3,2.3], 12]
print(mylist[0:4])
print(mylist[:5])
print(mylist[4:9])
print(mylist[6:])
print(mylist[7:100])
print("Negative")
print(mylist[-3:-1])
print(mylist[-3:])
print(mylist[-7:-3])
print(mylist[-9:-4])
print(mylist[:-6])
print(mylist[-100:-7])
print(mylist[-3:-8])

[23, 7.5, 'Ali', [3, 5]]
[23, 7.5, 'Ali', [3, 5], 'z']
['z', 56, 3.14, [8, 3, 2.3], 12]
[3.14, [8, 3, 2.3], 12]
[[8, 3, 2.3], 12]
Negative
[3.14, [8, 3, 2.3]]
[3.14, [8, 3, 2.3], 12]
['Ali', [3, 5], 'z', 56]
[23, 7.5, 'Ali', [3, 5], 'z']
[23, 7.5, 'Ali']
[23, 7.5]
[]

In [38]:
mylist = [23, 7.5, "Ali",[3,5], 'z']
mylist[0] = "Fatima"
print(mylist)
mylist[4] = 4.3
print(mylist)
mylist[2] = mylist[1] + 1
print(mylist)
mylist[1] = mylist[2:4]
print(mylist)

['Fatima', 7.5, 'Ali', [3, 5], 'z']
['Fatima', 7.5, 'Ali', [3, 5], 4.3]
['Fatima', 7.5, 8.5, [3, 5], 4.3]
['Fatima', [8.5, [3, 5]], 8.5, [3, 5], 4.3]

In [39]:
mylist = [6,5]
mylist.append(8)
print(mylist)
mylist.append(2)
print(mylist)
mylist.extend([6,5])
print(mylist)
mylist.append([12,13])
print(mylist)
mylist.insert(3,7.5)
print(mylist)
mylist.insert(0,[3,4])
print(mylist)
mylist.remove(5)
print(mylist)
mylist.remove(6)
print(mylist)

[6, 5, 8]
[6, 5, 8, 2]
[6, 5, 8, 2, 6, 5]
[6, 5, 8, 2, 6, 5, [12, 13]]
[6, 5, 8, 7.5, 2, 6, 5, [12, 13]]
[[3, 4], 6, 5, 8, 7.5, 2, 6, 5, [12, 13]]
[[3, 4], 6, 8, 7.5, 2, 6, 5, [12, 13]]
[[3, 4], 8, 7.5, 2, 6, 5, [12, 13]]

In [41]:
alist = [6,2,9,8,3]
alist.reverse()
print(alist)
alist = [6,2,9,8,3]
blist = list(reversed(alist))
print(alist)
print(blist)

[3, 8, 9, 2, 6]
[6, 2, 9, 8, 3]
[3, 8, 9, 2, 6]

In [42]:
alist = [6,2,9,8,3]
alist.sort()
print(alist)
alist = [6,2,9,8,3]
blist = sorted(alist)
print(alist)
print(blist)
alist.sort(reverse = True)
print(alist)

[2, 3, 6, 8, 9]
[6, 2, 9, 8, 3]
[2, 3, 6, 8, 9]
[9, 8, 6, 3, 2]

In [44]:
mylist = [23, 7.5, "Ali", [3,5], 'z', 56, 3.14, [8,3,2.3], 12]
print(7.5 in mylist)
result = 3.1415 in mylist
print(result)
print(56.0 in mylist)
print([3,5] in mylist)
print([8,2.3,3] in mylist)

True
False
True
True
False

In [45]:
mylist = []
print(mylist, len(mylist))
mylist.append(3)
print(mylist, len(mylist))
mylist.append(31)
print(mylist, len(mylist))
mylist.append(9)
print(mylist, len(mylist))

[] 0
[3] 1
[3, 31] 2
[3, 31, 9] 3

In [46]:
mylist = []
print(mylist, len(mylist))
mylist += [6]
print(mylist, len(mylist))
mylist += [9]
print(mylist, len(mylist))
mylist += [3,10]
print(mylist, len(mylist))

[] 0
[6] 1
[6, 9] 2
[6, 9, 3, 10] 4

In [47]:
students = "Ali Faisal Ahmed".split()
print(students)
students.append("Noora")
print(students)
marks = "6 5 2 3".split()
print(marks)

['Ali', 'Faisal', 'Ahmed']
['Ali', 'Faisal', 'Ahmed', 'Noora']
['6', '5', '2', '3']

In [48]:
mylist  = [0] * 3
print(mylist, len(mylist))
mylist.append([3,2])
print(mylist, len(mylist))
mylist = mylist *2
print(mylist, len(mylist))

[0, 0, 0] 3
[0, 0, 0, [3, 2]] 4
[0, 0, 0, [3, 2], 0, 0, 0, [3, 2]] 8

In [50]:
def sum(num1, num2):
    return num1+num2
num1 = int(input("Enter your first number: "))
num2 = int(input("Enter your second number: "))

print(sum(num1,num2))

Enter your first number: 12
Enter your second number: 21
33

In [53]:
def average_between_numbers(num1, num2):
    if num1 > num2:
        num1, num2 = num2, num1  # Swap if num1 is greater

    total_sum = 0
    count = 0

    for num in range(num1, num2 + 1):
        total_sum += num
        count += 1

    if count == 0:
        return 0  # To avoid division by zero if no numbers between num1 and num2

    average = total_sum / count
    return average

# Taking user input for two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = average_between_numbers(num1, num2)
print("Average of numbers between {} and {} is: {}".format(num1, num2, result))

Enter the first number: 2
Enter the second number: 6
Average of numbers between 2 and 6 is: 4.0

In [54]:
x = lambda a : a + 10
print(x(5))

15

In [55]:
b = lambda a,b,c : a + b**c
print(b(10,3,2))

19